{% load static %}

<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <title>Chinese Acrostic Generation (Based on Lyrics)</title>

    <!-- css -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">-->

    {% block head %}
    {% endblock %}

</head>

<body>
    <script src="{% static 'js/base.js' %}"></script>
    <script  src="http://code.jquery.com/jquery-1.9.1.min.js" ></script>    
    <nav class="navbar fixed-top navbar-light bg-light">
        <h2>Lyrics Demo</h2>
    </nav>
    {% block content %}
    {% endblock %}
    
</body>


