{% extends 'base.html' %}
{% load static %}
{% load index %}
{% block content %}
    <div class="container-fluid content">
        <div class="row">
            <div class="col">
                <form name="lyrics_condition" method="POST">
                    {% csrf_token %} 
                    <div class="form-group">
                        <label>Rhyme:</label>
                        {{ form.rhyme }}
                    </div>
                    <div class="form-group">
                        <label>Theme of topic: Lyrics will be generated based on topic words (Optional)</label>
                        {{form.keywords}}
                    </div>
                    <div class="form-group">
                        <label>The sequence of tokens to be hidden in lyrics (Required)</label>
                        {{form.hidden_sentence}}
                    </div>
                    <div class="form-group">
                        <label>Lengths of the first to the last sentences</label>
                        {{form.length}}
                    </div>
                    <!--
                    <div class="form-group">
                        <label>Lengths of each words in sentences(Use ";" to separate words in a sentence;
                        use "||" to separate different sentences)</label>
                        {{form.length_word}}
                    </div>
                    -->
                    <div class="form-group" style="display: none"> 
                        {{ form.selected_index }}
                    </div>
                    <div class="form-group">
                        <label>Hidden Pattern</label>
                        {{ form.pattern }}
                    </div>
                    <button type="button" onclick="clearPattern('pattern_define')">Clear Pattern</button>
                    <div class="form-group" name="pattern_define" id="pattern_define">
                        <script>
                            tableShow('pattern_define');
                        </script>
                    </div>
                    <button type="submit" class="btn btn-secondary btn-lg btn-block">提交(Submit)</button>
                </form>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">
                            <b>Result：</b><br/>
                            {% if generated_lyrics %}
                                {% for line in generated_lyrics %}
                                    {% for ch in line.0 %}
                                        {% if forloop.counter in line.1 %}
                                            <span style="color: red">{{ch}}</span>
                                        {% else %}
                                            {{ch}}
                                        {% endif %}
                                    {% endfor %}
                                    <br/>
                                {% endfor %}
                            {% else %}
                                There's no result for now.
                            {% endif %}
                        </p>
                        <hr></hr>
                        <p class="card-text">
                            <!--Conditions set by you：<br/>-->
                            {% if generated_lyrics %}
                                <b>Sentence hidden in the lyrics:</b> <br/>
                                {{hidden_sentence}} <br/>
                                <b>Rhyme: </b>{{ rhyme }} <br/>
                            {% else %}
                                There's no condition for now.
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



